<div class="side-menu">
    <ul>
        <li>Mes rendez-vous</li>
        <li>Donner un rendez-vous</li>
        <li>Ajouter patient</li>
        <li>Liste des patients</li>
        <li>Liste des medecins</li>
        <li>Créer des articles</li>
        <input type="submit" value="Déconnexion" >
    </ul>
</div>
<div class="table">
    <h2>La liste des patients</h2>
<table>
    <tr>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>TELEPHONE</th>
      <th>EMAIL</th>
      <th>SEXE</th>
    </tr>
    <tr *ngFor="let patient of listPatient">
      <td>{{patient.nom}}</td>
      <td>{{patient.prenom}}</td>
      <td>{{patient.telephone}}</td>
      <td>{{patient.email}}</td>
      <td>{{patient.sexe}}</td>
    </tr>
  </table>
</div>
