<div class="side-menu">
    <ul>
        <li><a routerLink="/">Acceuil</a></li>
        <li><a routerLink="/Creation_rendez_vous">Prendre un Rendez-vous</a></li>
        <li><a routerLink="/Liste_Medecin">Liste des medecin</a></li>
        <!-- creer la page des articles  -->
        <li><a routerLink="/">Articles</a></li>
        <input type="submit" value="Déconnexion" >
    </ul>
</div>
<div class="table">
    <h2>La liste des patients</h2>
<table>
    <tr>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>TELEPHONE</th>
      <th>EMAIL</th>
      <th>SEXE</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
