
<body>
    <p class="image">
        <img src="../assets/image/photoimg.png" alt="image">
    </p>
    <div>
        <form action="/action_page.php">
          <label for="prenom">Prenom</label>
          <input type="text" id="fname" name="prenom" >
      
          <label for="nom">Nom</label>
          <input type="text" id="nom" name="nom">
      
          <label for="sexe">Sexe</label>
          <select id="sexe" name="sexe">
            <option value=""></option>
            <option value="feminin">Feminin</option>
            <option value="masculin">Masculin</option>
          </select>

          <label for="date">Date de naissance</label>
          <input type="date" id="date" name="date">
         
          <label for="telephone">Telephone</label>
          <input type="number" id="telephone" name="telephone">

          <label for="email">Email</label>
          <input type="email" id="email" name="email">

          <label for="password">Mot de pass</label>
          <input type="password" id="password" name="password">

          <label for="password">Confirmer</label>
          <input type="password" id="password" name="password">

          <input routerLink="Mes_rendez_vous"  type="submit" value="Valider" >
        </form>
      </div>
</body>
