
.grand{
  display: flex;
  align-items: center;
  margin: 2em;
  justify-content: space-between;
}
.grand .photo{
  /* à enlever une fois fini  */
  /* border: 1px solid black; */
  height: auto;
  text-align: center;
  padding: 1em;
  margin: 0 2em 2em 0;

}
.grand .photo img{

  width: 20em;
  height: auto;

}
.grand .forme{
  /* à enlever une fois fini  */
  /* border: 1px solid black; */
  padding: 0.2em;
  margin-left: 2em;
  width: 90%;
  height: 60vh;
  display: flex;
}
.grand .forme .labs label{
  display: block;
  margin: 0.4em;
  margin-bottom: 1em;
  /* margin-top: 1em; */

}
.grand .forme .labs{
  /* à enlever  */
  /* border: 1px solid black; */
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 0.5em;
}
/*à enlever
 .grand .forme .champs{
   border: 1px solid black;
} */
.grand .forme .champs input{
  width: 30em ;
  height: 2em;
  border-radius: 10px;
  /* padding: 1px; */
  margin: 1em;
  border: 1px solid #00FF00;
  display: block;
  margin-bottom: 1.7em;
}
form{
/*à enlever*/

  /* border: 1px solid black; */
  width: 60%;
  margin-bottom: 2em;
  background-color: #D9D9D9;
  border-radius: 15px;
}
.grand .valid{
  /* à enlever  */
  /* border: 1px solid black; */
  text-align: center;
  padding: 0.5em;
 }
 .grand .valid button{
  width: 7em;
  font-size: 1.3em;
  font-weight: bolder;
  background-color: #008000;
  margin: 0.3em;
  border: 1px solid #008000;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;

 }
 .invalid-field {
  border: 2px solid red;
}
