
<div class="grand">

    <form action="">
      <div class="forme">

        <div class="labs">
          <label for="prenom" name="prenom">Prénom :</label><br><br>
          <label for="nom" name="nom">Nom :</label><br><br>
          <label for="sexe" name="sexe">Sexe :</label><br><br>
          <label for="tel" name="tel">Téléphone :</label><br><br>
          <label for="specialite" name="specialite">Spécialite</label><br><br>
          <label for="email" name="mail">Email :</label><br><br>
          <label for="pass" name="pass">Mot de passe :</label><br><br>
          <label for="confime" name="confime">Confirmer :</label><br><br>
        </div>

        <div class="champs">
          <input type="text" name="prenom"><br><br>
          <input type="text" name="nom"><br><br>
          <input type="text" name="sexe"><br><br>
          <input type="text" name="specialite"><br><br>
          <input type="tel" name="tel"><br><br>
          <input type="email" name="mail"><br><br>
          <input type="password" name="pass"><br><br>
          <input type="password" name="confime"><br><br>
  
        </div>
  
      </div>
      <div class="valid">
        <input routerLink="Liste_medecin" type="submit" value="valider">
      </div>
    </form>
  

    <div class="photo">
      <img src="../assets/img/medecin.png" alt="">
    </div>
  </div>
   
   <!-- <mat-card>
    <mat-card-header>
      <h1>Incrire Medecin</h1>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="ajoutForm" (ngSubmit)="procedureAjout()">
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Prenom</mat-label>
          <input matInput formControlName="prenom">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Specialité</mat-label>
          <input matInput formControlName="specialite">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Mot de pass</mat-label>
          <input type="password" matInput formControlName="motdepass">
        </mat-form-field>
        <div>
          <mat-radio-group aria-label="sexe">
            <mat-radio-button value="M">Masculin</mat-radio-button>
            <mat-radio-button value="F">Feminin</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button routerLink="connexion_medecin" mat-raised-button color="primary">Valider</button>
    <a routerLink="/connexion_medecin" mat-button color="accent">Login</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card> -->
