<div class="grand">
  <!-- formulaire d'inscriotion patient  -->
  <form action="">
    <div class="forme">
      <!-- Les labels  -->
      <div class="labs">
        <label for="prenom" name="prenom">Prénom :</label><br><br>
        <label for="nom" name="nom">Nom :</label><br><br>
        <label for="sexe" name="sexe">Sexe :</label><br><br>
        <label for="naissance" name="naissance">Date de naissance :</label><br><br>
        <label for="tel" name="tel">Téléphone :</label><br><br>
        <label for="email" name="mail">Email :</label><br><br>
        <label for="pass" name="pass">Mot de passe :</label><br><br>
        <label for="confime" name="confime">Confimer :</label><br><br>
      </div>
      <!-- Les champs  -->
      <div class="champs">
        <input type="text" name="prenom"><br><br>
        <input type="text" name="nom"><br><br>
        <input type="text" name="sexe"><br><br>
        <input type="date" name="naissance"><br><br>
        <input type="tel" name="tel"><br><br>
        <input type="email" name="mail"><br><br>
        <input type="password" name="pass"><br><br>
        <input type="password" name="confime"><br><br>

      </div>

    </div>
    <div class="valid">
      <input type="submit" value="valider">
    </div>
  </form>

  <!-- image  -->
  <div class="photo">
    <img src="../assets/img/medecin.png" alt="">
  </div>
</div>
