
<div class="grand">
  <!-- formulaire d'inscriotion patient  -->
  <form novalidate (ngSubmit)="EnregitreDonne(patientForm)" #patientForm="ngForm">
    <div class="forme">
      <!-- Les labels  -->
      <div class="labs">
        <label for="prenom">Prénom :</label><br><br>
        <label for="nom">Nom :</label><br><br>
        <label for="sexe">Sexe :</label><br><br>
        <label for="naissance">Date de naissance :</label><br><br>
        <label for="tel">Téléphone :</label><br><br>
        <label for="email">Email :</label><br><br>
        <label for="pass">Mot de passe :</label><br><br>
        <label for="confime">Confimer :</label><br><br>
      </div>
      <!-- Les champs  -->
      <div class="champs">

        <input type="text" name="prenom"
          [(ngModel)]="patient.prenom" required
          pattern="[A-Za-z]+"
          #prenomVar="ngModel"
          [ngClass]="{'invalid-field':prenomVar.invalid && prenomVar.touched}">
          <br><br>

        <input type="text" name="nom"
          [(ngModel)]="patient.nom" required
          pattern="[A-Za-z]+"
          #nomVar="ngModel"
          [ngClass]="{'invalid-field':nomVar.invalid && nomVar.touched}"><br><br>

          <!-- La proprieté "^(M|F)$" autorise uniquement M ou F  -->
        <input type="text" name="sexe"
          [(ngModel)]="patient.sexe" required
          pattern="^(M|F)$"
          #sexeVar="ngModel"
          [ngClass]="{'invalid-field':sexeVar.invalid && sexeVar.touched}"><br><br>

        <!-- La proprieté "\d{4}-\d{2}-\d{2}" autirise uniquement les types date  -->
        <input type="text" name="naissance"
        [(ngModel)]="patient.naissance" required
        pattern="\d{4}-\d{2}-\d{2}"
        #naissanceVar="ngModel"
        [ngClass]="{'invalid-field': naissanceVar.invalid && naissanceVar.touched}"><br><br>
                <!-- Champ de téléphone -->
        <input type="tel" name="tel"
        [(ngModel)]="patient.telephone" required
        #telVar="ngModel"
        pattern="\d{8}"
        [ngClass]="{'invalid-field': telVar.invalid && telVar.touched}"><br><br>

        <input type="email" name="mail"
       [(ngModel)]="patient.email" required
       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
       #mailVar="ngModel"
       [ngClass]="{'invalid-field': mailVar.invalid && mailVar.touched}"><br><br>


              <!-- Champ de mot de passe -->
      <input type="password" name="pass"
      [(ngModel)]="patient.pass" required
      #passVar="ngModel"
      [ngClass]="{'invalid-field': passVar.invalid && passVar.touched}"
      (input)="validatePasswordConfirmation()"><br><br>

      <!-- Champ de confirmation de mot de passe -->
      <input type="password" name="confirme"
      [(ngModel)]="patient.confirme" required
      #confirmeVar="ngModel"
      [ngClass]="{'invalid-field': confirmeVar.invalid && confirmeVar.touched}"
      (input)="validatePasswordConfirmation()"><br><br>


      </div>

    </div>
    <div class="valid">
      <!-- <input type="submit" value="valider"> -->
      <div *ngIf="prenomVar.invalid && prenomVar.touched" class="error-message" style="color: red;">
        Veillez bien renseigner le cahmp prenom.
      </div>
      <div *ngIf="nomVar.invalid && nomVar.touched" class="error-message" style="color: red;">
        Veillez bien renseigner le cahmp nom.
      </div>
      <div *ngIf="sexeVar.invalid && sexeVar.touched" class="error-message" style="color: red;">
        Veillez bien renseigner le cahmp sexe M pour masculin et F pour féminin.
      </div>
      <div *ngIf="naissanceVar.invalid && naissanceVar.touched" class="error-message" style="color: red;">
        Le champs date de naissance prend les types date uniquement YYYY/MM/DD.
      </div>
      <div *ngIf="telVar.invalid && telVar.touched" class="error-message" style="color: red;">
        Le champs telephone prend uniquement les numeros de téléphone à 8 chiffres.
      </div>
      <div *ngIf="mailVar.invalid && mailVar.touched" class="error-message" style="color: red;">
        Veillez bien renseigner votre mail.
      </div>
      <!-- Afficher un message d'erreur si la confirmation de mot de passe ne correspond pas -->
      <div *ngIf="passwordsDoNotMatch" class="error-message" style="color: red;">
        Les mots de passe ne correspondent pas.
      </div>
      <button type="submit">valider</button>
    </div>

  </form>
  <div><a routerLink="/Liste_Patient"> Liste patient</a></div>

  <!-- image  -->
  <div class="photo">
    <img src="../assets/img/medecin.png" alt="">
  </div>
</div>
