
<div class="grand">
  <!-- formulaire d'inscriotion patient  -->
  <form (ngSubmit)="EnregitreDonne(patientForm)" #patientForm="ngForm">
    <div class="forme">
      <!-- Les labels  -->
      <div class="labs">
        <label for="prenom">Prénom :</label><br><br>
        <label for="nom">Nom :</label><br><br>
        <label for="sexe">Sexe :</label><br><br>
        <label for="naissance">Date de naissance :</label><br><br>
        <label for="tel">Téléphone :</label><br><br>
        <label for="email">Email :</label><br><br>
        <label for="pass">Mot de passe :</label><br><br>
        <label for="confime">Confimer :</label><br><br>
      </div>
      <!-- Les champs  -->
      <div class="champs">
        <input type="text" name="prenom" [(ngModel)]="patient.prenom"><br><br>
        <input type="text" name="nom" [(ngModel)]="patient.nom"><br><br>
        <input type="text" name="sexe" [(ngModel)]="patient.sexe"><br><br>
        <input type="tex" name="naissance" [(ngModel)]="patient.naissance"><br><br>
        <input type="tel" name="tel" [(ngModel)]="patient.telephone"><br><br>
        <input type="email" name="mail" [(ngModel)]="patient.email"><br><br>
        <input type="password" name="pass" [(ngModel)]="patient.pass"><br><br>
        <input type="password" name="confirme" [(ngModel)]="patient.confirme"><br><br>

      </div>

    </div>
    <div class="valid">
      <!-- <input type="submit" value="valider"> -->
      <button type="submit">valider</button>
    </div>
  </form>

  <!-- image  -->
  <div class="photo">
    <img src="../assets/img/medecin.png" alt="">
  </div>
</div>
