<!-- <br><br><br><br><br> -->

<div class="principale">
  <!-- partir gauche  -->
  <div class="gauche">

    <img src="../assets/img/medecin.png" alt="image non trouvable">
  </div>


  <!-- partie droite  -->
  <div class="droite">
    <h1>Etes- vous medecin ou pateint</h1>
    <img src="../assets/img/point.png" alt="">
    <div class="choix">
      <ul>
        <li><a routerLink="/Ajouter_Medecin">Medecin</a></li>
        <li><a routerLink="/Ajouter_Patient">Patient</a></li>
      </ul>
    </div>
  </div>
</div>
