<h1 mat-dialog-title> Prendre un rendez-vous</h1>

 <div mat-dialog-actions class="btn">
  <div>
    <label for="date">Date</label>
            <input type="date" id="date" name="date">

            <label for="text">Heure</label>
            <input type="text" id="telephone" name="text">

            <label for="patient">Patient</label>
            <select id="patient" name="patient">
              <option value=""></option>
              <option value="feminin">Feminin</option>
              <option value="masculin">Masculin</option>
            </select>
            <label for="description">Motif</label>
          <textarea id="description" name="description" rows="4" cols="50"></textarea>
     </div>
    <button (click)="closepopup()" style="margin-right: 40%;" >Fermez</button>
    <button >Valider</button>
 </div>
