<div>
  <header>
    <section>
      <img src="" alt="LOGO">
    </section>

    <ul>
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/Ajouter Medecin">Ajout medecin</a></li>
      <li><a routerLink="/Ajouter Patient">Ajout patient</a></li>
      <li><a routerLink="/Liste Medecin">Afficher la liste des medecins</a></li>
      <li><a routerLink="/Liste Patient">Afficher la liste des patients</a></li>
      <li><a routerLink="/Mes rendez-vous">Afficher mes rendez-vous</a></li>
      <li><a routerLink="/Creation rendez-vous">Créer un rendez-vous</a></li>
      <li><a routerLink="/Detail Rendez-vous">En savoir plus sur mes rendez-vous</a></li>
    </ul>
  </header>


  <main>
    <h4>Routes Result</h4>
    <router-outlet></router-outlet>
  </main>


  <footer>
    {{title}}
  </footer>

</div>
<!-- {path:'', component:AccueilComponent},
  {path :'Ajouter Medecin', component : AjoutMedecinComponent},
  {path : 'Ajouter Patient', component: AjoutPatientComponent},
  {path: 'Liste Medecin', component: ListeMedecinComponent},
  {path: 'Liste Patient',component:ListePatientComponent},
  {path: 'Mes rendez-vous', component: CalendrierRendezVousComponent},
  {path:'Creation rendez-vous', component: CreationRendezVousComponent},
  {path:'Detail Rendez-vous',component:AfficherDetailRendezVousComponent} -->
