





  <main>
    <router-outlet></router-outlet>
  </main>



<!-- {path:'', component:AccueilComponent},
  {path :'Ajouter Medecin', component : AjoutMedecinComponent},
  {path : 'Ajouter Patient', component: AjoutPatientComponent},
  {path: 'Liste Medecin', component: ListeMedecinComponent},
  {path: 'Liste Patient',component:ListePatientComponent},
  {path: 'Mes rendez-vous', component: CalendrierRendezVousComponent},
  {path:'Creation rendez-vous', component: CreationRendezVousComponent},
  {path:'Detail Rendez-vous',component:AfficherDetailRendezVousComponent} -->

