<div class="side-menu">
    <ul>
        <li routerLink="/Rendez_vous_medecin">Mes rendez-vous</li>
        <li routerLink="/Ajouter_Patient">Ajouter patient</li>
        <li routerLink="/Liste_Patient">Liste des patients</li>
        <li routerLink="/Liste_Medecin">Liste des medecins</li>
        <li>Créer des articles</li>
        <input routerLink="/Connexion" type="submit" value="Déconnexion" >
    </ul>
</div>
<div class="table">
    <h2>La liste des medecins</h2>
<table>
    <tr>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>TELEPHONE</th>
      <th>EMAIL</th>
      <th>SPECIALITE</th>
    </tr>
  </table>
</div>