<div class="grand">
  <!-- formulaire d'inscriotion patient  -->
  <form>
    <div class="forme">
      <!-- Les labels  -->
      <div class="labs">

        <label for="email" name="mail">Email :</label><br><br>
        <label for="pass" name="pass">Mot de passe :</label><br><br>
      </div>
      <!-- Les champs  -->
      <div class="champs">

        <input type="email" name="mail"><br><br>
        <input type="password" name="pass"><br><br>

      </div>

    </div>
    <div class="valid">
      <input type="submit" value="Connexion">
    </div>
  </form>

  <!-- image  -->
  <div class="photo">
    <img src="../assets/img/medecin.png" alt="">
  </div>
</div>
