*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.side-menu{
    position: fixed;
    background: #D8D9D8;
    width: 22%;
    min-height: 70%;
    margin-top: 0%;
    margin-left: -10px;
    border-radius: 2%;
}
.side-menu li{
    font-size: 25px;
    padding: 5px 20px;
    color: black;
    width: 100%;
    margin-top: 2%;
    margin-left: -10px;
    font-weight: 600;
}
.side-menu li:hover{
    background: white;
    border-radius: 10px;
}
.side-menu ul{
    padding: 0%;
    width: 100%;
}
input{
    color: #FFFFFF;
    margin-left: 25%;
    margin-top: 30%;
    background: #008000;
    width : 40%;
    padding: 2%;
    border-radius: 30px;
    text-decoration: none;
}