
input, select {
    width: 50%;
    margin-left:20;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2%;
    height: 50px;
    justify-content: center;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 40px;
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 25%;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
form{
    height:100%;
    width: 430px;
    background-color:#D8D9D8;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 15px 35px;
    margin: 0% auto;
}

form *{
    font-family: 'PT Serif', serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
}
form h3 span{
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #e5e5e5;
}
label{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
.formulaire{
    margin-top: 5px;
}
 


h1{
    margin-left: 25%;
    font-weight: bolder;
}
.btn{
    margin-left: 15%; 
}

button{
    
    font-weight: bolder;
    background-color: #008000;
    border: 1px solid #008000;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
}

  
 
  
 
