<h1 mat-dialog-title> Donner un rendez-vous </h1>

<div mat-dialog-content class="details">
  <div>
    <label for="date">Date</label>
    <input type="date" id="date" [(ngModel)]="newEvent.date" name="date">
    
    <label for="heure">Heure</label>
    <input type="text" id="heure" [(ngModel)]="newEvent.time" name="heure">
    
    <label for="patient">Patient</label>
    <input type="text" id="patient" [(ngModel)]="newEvent.patient" name="patient">

    <label for="motif">Motif</label>
    <textarea id="motif" [(ngModel)]="newEvent.motif" name="motif" rows="4" cols="50"></textarea>
  </div>
</div>

<div mat-dialog-actions class="btn">
  <button (click)="closepopupdetail()" style="margin-right: 40%;">Fermez</button>
  <button (click)="createAppointment()">Valider</button>
</div>
  <!-- <div class="container">
    <div class="formulaire">
        <form action=""> 
        <h2>Donner un rendez-vous</h2>
          <label for="date">Date</label>
          <input type="date" id="date" name="date">
  
          <label for="text">Heure</label>
          <input type="text" id="telephone" name="text">
  
          <label for="patient">Patient</label>
          <select id="patient" name="patient">
            <option value=""></option>
            <option value="feminin">Feminin</option>
            <option value="masculin">Masculin</option>
          </select>
          <label for="description">Motif</label>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
          <input routerLink="Mes_rendez_vous"  type="submit" value="Valider" >
        </form>
      </div> 
    </div>     -->
 
