/* You can add global styles to this file, and also import other style files */

body{
    color: black;
    font-weight: 400;
}

.cdk-global-overlay-wrapper {
    position: relative;
}

.cdk-overlay-pane {
    position: fixed;
    width: 50%;
    height: 450px;
    margin-left: 20%;
    border-radius: 20px;
 }

<<<<<<< HEAD

 .mat-typography {
    line-height: normal; 
}
=======
 .mat-typography{
  line-height: normal;
}

>>>>>>> f8defaaa493971d4d3816bb33dd96d367aa9a3f4

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

