/* You can add global styles to this file, and also import other style files */

body{
    color: black;
    font-weight: 400;
}

.cdk-global-overlay-wrapper {
    position: relative;
}

.cdk-overlay-pane {
    position: fixed;
    width: 50%;
    height: 450px;
    margin-left: 20%;
    border-radius: 20px;
 }


 .mat-typography {
    line-height: normal; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

