*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.side-menu{
  position: fixed;
  background: #D8D9D8;
  width: 25%;
  min-height: 70%;
  margin-top: 0%;
  margin-left: -10px;
  border-radius: 2%;
}
.side-menu li{
  font-size: 20px;
  padding: 5px 20px;
  width: 100%;
  margin-top: 2%;
  font-weight: bold;
}
.side-menu li a{
  color: black;
}
.side-menu li:hover{
  background: white;
  border-radius: 25px;
  width: 90%;
}
.side-menu li a:hover{
  color: #008000;
}
.side-menu ul{
  padding: 0%;
  width: 100%;
}
input{
  color: #FFFFFF;
  margin-left: 25%;
  margin-top: 60%;
  background: #008000;
  width : 40%;
  padding: 2%;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}
input:hover{
  background-color: #04b604;
  color: red;
}
.calendrier{
  width: 75%;
  margin-left: 24%;

}
.calendrierMois{
  font-size: 15px;
  padding: 2px 20px;
  height: 35em;
  width: 76%;
  font-weight: 600;
  height: 400px;
  position: fixed;
}

