<body>
  
<!-- <div class="container2">
  <img src="../assets/image/photoimg.png" alt="image" class="controller">
</div> -->
<div class="container">
    <div class="text">
      <p>Fini les rangs simplifiez-vous <br>
        vie avec notre plateforme de<br>
        gestion médicale qui vous permet <br>
        de gérer vos rendez-vous, vos<br>
          prescriptions et vos dossiers <br>
          médicaux en quelques clics.
      </p>
      <h4><a routerLink="Ajouter Patient" class="btn">Cliquez ici pour vous inscrire</a></h4>
    </div>
    <img src="../assets/image/photoimg.png" alt="image" class="controller">
</div>
</body>
